
<div class="details">
    <img src="<%= items.image %>" alt="clothing"/>
    <span><%= items.item %></span> 
    <span><%= items.price %></span> 
    <span><%= items.color %></span>
    <span><%= items.description %></span>
    <span><%= items.quantity %></span>
</div> 