<div class="container">

<div class="details">
    <span>
        <img src="<%= items.image %>" alt="clothing"/>
    </span>
</div>

<div class="data">
    <div class="text">
        <span>
            <h5><%= items.item %> - <%= items.color %> </h5>
                <span class="paragraph">
                    <span>$</span>
                <%= items.price %> USD: 

                <%= items.description %>
                </span>
                <%= items.quantity %>
        </span> 
    </div>
    <div class="size-buttons">  
        <button type="button" class="btn btn-outline-dark">XS</button>
        <button type="button" class="btn btn-outline-dark">S</button>
        <button type="button" class="btn btn-outline-dark">M</button>
        <button type="button" class="btn btn-outline-dark">L</button>
        <button type="button" class="btn btn-outline-dark">XL</button>
        <button type="button" class="btn btn-outline-dark">XXL</button>
    </div>  



<div class="button">
        <div class="button-seven">
            <form action='/shop/<%= items.id %>?_method=DELETE' method="POST">
                <input type="submit" class="btn btn-outline-dark" type="button" value="DELETE"/>
            </form>
        </div>    
    
        <div class="button-eight">
            <form action="/shop/<%= items.id %>?_method=PUT" method="POST"> 
                <input type="submit" class="btn btn-outline-dark" type="button" value="EDIT"/>
            </form>
        </div>
</div>    



