<div class="container">

<div class="details">
    <span>
        <img src="<%= items.image %>" alt="clothing"/>
    </span>
</div>

<div class="data">
    <div class="text">
        <span>
            <h4><%= items.item %></h4>
                <%= items.price %>
                <%= items.color %>
                <%= items.description %>
                <%= items.quantity %>
        </span> 
    </div>
        <div class="row"> 

            <div class="button-one">
                <h1>XS</h1>
            </div>    

            <div class="button-two">
                <h1>S</h1>    
            </div>

            <div class="button-three">
                <h1>M</h1>
            </div>

            <div class="button-four">   
                <h1>L</h1>
            </div>    

            <div class="button-five">
                <h1>XL</h1>
            </div>

            <div class="button-six">
                <h1>XXL</h1>
            </div>
        </div>     

<div class="button">
        <div class="button-seven">
            <form action='/shop/<%= items.id %>?_method=DELETE' method="POST">
                <input type="submit" value="DELETE"/>
            </form>
        </div>    
    
        <div class="button-eight">
            <form action='/SHOP<%= items.id %>/edit'> 
                <input type="submit" value="EDIT"/>
            </form>
        </div>
</div>    

    </div>    
    

</div>

</div>

