<div class="container">

<div class="details">
    <span>
        <img src="<%= items.image %>" alt="clothing"/>
    </span>
</div>

<div class="data">
    <span>
       <h4><%= items.item %></h4>
        <%= items.price %>
        <%= items.color %>
        <%= items.description %>
        <%= items.quantity %>

        <div class="delete-button"></div>
     <form action='/shop/<%= items.id %>?_method=DELETE' method="POST">
        <input type="submit" value="DELETE"/>
     </form>
    </div>

   <div class="EDIT-button"></div>
     <form action='/SHOP<%= items.id %>/edit'> 
        <input type="submit" value="EDIT"/>
     </form>
    </div>
    </span> 
</div>

