<div class="detail">
  <div class="detail-images">
    <% items.images.forEach(image =>{ %>
        <div class="detail-image">
            <img src="<%= image %>" alt="clothing" />
          </div>
        <% }) %>
  </div>

  <div class="data">
    <div class="breadcrumb">
      <a href="/">HOME</a> > <a href="/shop">SHOP</a> > <%= items.item %> - <%=
      items.color %>
    </div>
    <div class="text">
      <h5><%= items.item %> - <%= items.color %></h5>
      <span>$<%= items.price %> USD</span>
      <p class="paragraph"><%= items.description %></p>
      <%= items.quantity %>
    </div>
    <div class="size-buttons">
      <button type="button">XS</button>
      <button type="button">S</button>
      <button type="button">M</button>
      <button type="button">L</button>
      <button type="button">XL</button>
      <button type="button">XXL</button>
    </div>

    <form action="/shop/<%= items.id %>?_method=DELETE" method="POST">
      <input type="submit" class="add" value="DELETE" />
    </form>
    <a href="/shop/<%= items.id %>/edit" class="add">EDIT</a>
  </div>
</div>
