<span>Edit Item</span>

<form action="/edit<%= item.id  %>?_method=PUT" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= item.item %>">
    
    <label for="price">Price</label>
    <input type="text" name="price" id="price" value="<%= item.price %>"> 
    
    <label for="color">Color</label>
    <input type="text" name="color" id="color" value="<%= item.color %>"> 
    
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="<%= item.description %>"> 
    
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity" value="<%= item.quantity %>">  

    <input type="submit" value="Edit">


</form> 